/* ブラウザごとの設定リセット（どのブラウザでも同じ表示にするため） */
@import url(sanitize.css);

/* Google-font */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap'); */

:root {
    /* 変数を定義 */
    --header-height: 90px; 
    /* --header-height: 15%;  */
    --header-height-mobile-minus: 20px; 
    --border-waight: 1px;
    --border-color: #616161;
    --padding-left-light: 20px;
    --text-color-basic: #333;
    --text-color-deactivate: #616161;
    /* --text-size-service-box-overlay-h3: 32px; */
    /* --text-size-service-box-overlay-h3: 150%; */
	/* scroll-padding: var(--header-height); */
}

/* 余白をリセット */
a, body, div, footer, header, h1, h2, h3, li, main, nav, p, strong, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: serif;
    text-align: center;
}

/* .header-box {
    height: var(--header-height);
} */

header {
    background: white;
    display: grid;
    /* grid-template-columns: 100px 1fr 100px; */
    grid-template-columns: 20% 1fr 20%;
    /* height: 15%; */
    height: var(--header-height);
    grid-template-rows: 60% auto;
    /* grid-template-rows: 45px auto; */
    /* padding: 15px 0 0 15px; */
    padding: 1% 0 0 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.language-switch {
    align-items: flex-start;
    padding: 0 0 0 15%;
    text-align: left;
}

.language-switch li {
    display: inline-block;
}

/* TODO: Englishページをつくったら、アクティブな言語を濃くするよう自動化したい */
.switch-separator {
    color: var(--text-color-basic);
}

.japanese-switch {
    color: var(--text-color-basic);
    text-decoration: none;
    font-weight: bold;
}

.english-switch {
    color: var(--text-color-basic);
    /* color: var(--text-color-deactivate); */
    text-decoration: none;
    font-weight: bold;
}

.logo {
    place-content: center;
}

.logo > a > img {
    /* height: 35px; */
    height: 65%;
    /* width: auto; */
}

nav {
    grid-column: 1 / 4;
    /* margin-top: 1px; */
    /* margin-top: 1%; */
}

nav ul {
    list-style: none;
}

nav li {
    border-bottom: var(--border-waight) solid transparent;
    display: inline-block;
    width: 100px;
    /* width: 15%; */
}

/* nav li:hover{
    border-bottom: var(--border-waight) solid var(--border-color);
} */

nav a {
    color: var(--text-color-basic);
    text-decoration: none;
}

main {
    background-color: white;
    padding-top: var(--header-height);
}

.main-visual {
    align-items: center;  /* 垂直方向の中央揃え */
    background-image: url(https://images.unsplash.com/photo-1594028885044-62c27d701440?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w2MzQ2fDB8MXxzZWFyY2h8M3x8cGlhbm8lMjBrZXl8ZW58MHx8fHwxNzM4Njc3MjMwfDA&ixlib=rb-4.0.3&q=80&w=1080);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 300px;
    justify-content: center; /* 水平方向の中央揃え */
    position: relative;
    width: 100%;
}

.main-visual-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
}


.main-visual-contents{
    position: absolute;
}

.main-visual-contents h1{
    color: black;
    /* font-family: "Noto Serif JP", serif; */
    font-weight: normal;
    /* font-size: 70px; */
    font-size: 350%;
}

.main-visual-contents button {
    background-color: white;
    border: var(--border-color) var(--border-waight) solid;
    border-radius: 30px;
    color: var(--text-color-basic);
    cursor: pointer;
    font-family: serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 20px;
}

.main-visual-contents button:hover {
    background-color: lightgrey
}

.greeting {
    margin-top: 75px;
    padding: var(--padding-left-light);
}

.greeting > h2 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 75px 10% 100px 10%;
}

.services > h2 {
    flex: 0 0 100%;
    margin-bottom: 25px;
}

.service-box {
    flex: 1 1 200px;
    /* margin: 10px; */
    position: relative;
    text-align: left;
}

.service-box img {
    max-width: 100%;
    height: auto;
}

.service-box-overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.0) 90%); */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95) 20%, rgba(0, 0, 0, 0.0) 80%);
    position: absolute;
}

.service-box-overlay:hover{
    background-color: rgba(255,255,255,0.6);;
	opacity: 1;
	transition:0.3s;
}

.service-box-overlay > h3 {
    color: var(--text-color-basic);
    /* font-size: var(--text-size-service-box-overlay-h3); */
    /* font-weight: bold; */
    padding: 10px 0 0 10px;
}

.service-box-overlay > p {
    color: var(--text-color-deactivate);
    font-weight: normal;
    padding: 0 0 0 10px;
}

footer {
    background-color: #333;
    color: white;
    padding: 30px 0;
}

footer img {
    width: 30px;
}

footer p {
    padding-top: 15px;
}

.breadcrumb {
    list-style: none;
    margin-left: 20px;
    text-align: left;
}

.breadcrumb li {
    display: inline;
    list-style: none;
  }

.breadcrumb li:after {
    content: '>';
    padding: 0 0.3em;
}

.breadcrumb li:last-child:after {
    content: '';
}

.breadcrumb li a {
    color: var(--text-color-basic);
    text-decoration: none;
}

@media (min-width: 769px) {
     
    /* nav li {
        width: 20%;
    } */
    
    .service-box {
        flex: 1 1 calc(25% - 20px); /* 横1行に4つ */
    }

    /* .service-box-overlay > h3 {
        font-size: 20px;
    } */
}

@media (min-width: 427px) and (max-width: 768px) {
    
    /* nav li {
        width: 30%;
    } */

    .service-box {
        flex: 1 1 calc(50% - 20px); /* 横2行に2つずつ */
    }

    /* .service-box-overlay > h3 {
        font-size: 20px;
    } */
}

@media (max-width: 426px) {
    header {
        height: calc(var(--header-height) - var(--header-height-mobile-minus));
    }

    .logo > a > img {
        height: 25px;
    }

    .language-switch > ul > li > a {
        font-size: 14px;
    }

    nav {
        align-self:center;
    }

    nav li {
        width: 25%;
    }

    nav > ul > li > a {
        font-size: 13px;
    }

    main {
        padding-top: calc(var(--header-height) - var(--header-height-mobile-minus));
    }

    .main-visual-contents h1{
        font-size: 33px;
    }

    .services {
        flex-direction: column;
        align-items: center;
    }

    .service-box {
        flex: 1 1 calc(100% - 20px); /* 横4行に1つずつ */
    }

    
    /* .language-switch {
        background-color: #616161;
    }

    .logo {
        background-color: antiquewhite;
    }

    .blank {
        background-color: aqua;
    }

    nav {
        background-color: aquamarine;
    }

    nav > ul > li {
        background-color: cadetblue;
    } */
}