:root {
    --header-height: 80px; /* 変数を定義 */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-top: var(--header-height); 
}

header {
    /* background-color: #eeeeee; */
    background-color: white;
    color: black;
    position: fixed;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    top: 0;
    z-index: 1000;
    height: var(--header-height); 
    /* padding-top: 10px; */
}

/* .header-top {
    display: flex;
} */

.language-switch {
    /* background-color: lightpink; */
    align-items: flex-end;
    margin: auto;
}

.language-switch ul {
    list-style: none;
}

.language-switch li {
    display: inline-block;
    /* width: 100px; */
    /* margin: 0 10px; */
}

.language-switch a {
    color: #616161;
    text-decoration: none;
}

.logo {
    /* background-color: lightblue; */
    text-align: center;
    margin-top: 10px;
}

nav {
    text-align: center;
}

nav ul {
    /* background-color: lightgreen; */
    list-style: none;
    padding: 0;
    margin-top: 10px;
    /* margin: 0; */
}

nav li {
    display: inline-block;
    width: 100px;
}

nav a {
    color: #616161;
    text-decoration: none;
}

nav li:hover{
    border-bottom: 2px solid #424242; /* 下線の太さや色を指定 */
}

.main-visual {
    margin-top: 20px;
}

.main-visual h1 {
    font-size: 2em;
    margin: 0;
}

.main-visual button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.main-visual button:hover {
    background-color: #0056b3;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.services .service-box {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: calc(33% - 40px);
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}
